<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="./chat.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <header>
            <%- include('./partials/header', { current: 'home' }) %> 
        </header>
        <main>
            <div>
                <h2 class="p-4"><%= message %> </h2>
                <%- include('./form')  %> 
                <br>
            </div>
            <div>
                <%- include('./chat') %> 
            </div>

        </main>
        <footer>
            <%- include('./partials/footer') %> 
        </footer>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.3/qs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script> 
    <script src="./chat.js"></script>
    
</body>
</html>