<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
</head>
<body>
    <div class="container">
        <header>
            <%- include('./partials/header', { current: 'home' }) %> 
        </header>
        <main>
            <div>
                <h2 class="p-4"><%= message %> </h2>
                <%- include('./form')  %> 
                <br>
            </div>

        </main>
        <footer>
            <%- include('./partials/footer') %> 
        </footer>

    </div>
    
</body>
</html>